.custom-button {
    background-color: rgb(255, 255, 255);
    color: gray;
}

.custom-button--active {
    background-color: rgb(91, 95, 199);
    color: white;
}

.header {
}

.sideMenu {
}

.sideMenuIcon {
}
